<app-skull color="ff2677"></app-skull>
<app-skull color="c47e0d"></app-skull>
<app-skull color="97be61"></app-skull>
<app-skull color="903696"></app-skull>
<app-skull color="00a0ce"></app-skull>
<app-skull color="8a979d"></app-skull>
<app-skull color="fa926a"></app-skull>
<app-skull color="5bd7e9"></app-skull>
<app-skull color="ffd85c"></app-skull>
<app-skull color="ff5b3e"></app-skull>
<app-skull color="efefef"></app-skull>
<app-skull color="43576b"></app-skull>
<app-skull color="354759"></app-skull>
<app-skull color="00d9b0"></app-skull>
